body {
    margin: 0;
    padding: 0;
    background-color: #00224D;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1rem;
    background-color: #00224D;
    justify-content: center;
    list-style-type: none;
}

.navbar-item a{
    text-decoration: none;
    color: #fff;
}

.logo {
    position: absolute;
    left: 20px;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    height: 100vh;
    margin-top: 10vh;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FF204E;
}

.hero-section img {
    height: auto;
    width: 600px;
    flex-grow: 1;
}

.hero-section h1 {
    color: white;
    flex-grow: 1;
    padding: 2rem;
}