body {
    margin: 0;
    padding: 0;
    background-color: #00224D;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1rem;
    background-color: #00224D;
    justify-content: center;
    list-style-type: none;
}

.navbar-item a{
    text-decoration: none;
    color: #fff;
}

.logo {
    position: absolute;
    left: 20px;
}

.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: fit-content;
    height: 85vh;
    margin-top: 10vh;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #FF204E;
}

.hero-section img {
    height: 400px;
    width: 600px;
    flex-grow: 1;
}

.hero-section h1 {
    color: white;
    min-width: fit-content;
    flex-grow: 1;
    padding: 2rem;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(1, auto);
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: fit-content;
    margin-left: 10vw;
    margin-right: 10vw;
}

.project-item {
    text-align: center;
    background-color: white;
}

.project-item h1 {
    color: black;
    text-align: center;
}

.project-item p {
    color: black;
    text-align: center;
    min-width: fit-content;
}

.project-item img {
    width: 100%;
    height: auto;
}